.cut {
  color: gainsboro;
  /* color: #284b63; */
  font-style: italic;
  text-decoration: line-through;
}

.uncut {
  color: #284b63;
}

.todo {
    display: flex;
    font-size: 2rem;
}

input {
  height: 25px;
  width: 25px;
  margin: 10px;
}